body {
	font-family: sans-serif;
	color: #555;
}
.wrapper {
	width: 1200px;
	margin: 0 auto;
}
h1 { text-align: center; }
.handling,
.output {
	width: 520px;
	float: left;
	margin: 0 20px;
	border: 1px solid #ccc;
	padding: 10px;
	height: 800px;
	overflow-y: auto;
}
textarea,
input[type=text],
input[type=number],
input[type=submit] {
	width: 300px;
	border: 3px solid #ccc;
	padding: 5px;
}
textarea {
	height: 320px;
	vertical-align: middle;
}
button {
	height: 30px;
	border: 3px solid #ccc;
	background: linear-gradient(#fff, #eee);
	cursor: pointer;
}
.helpers {
	margin: 20px 0;
	padding: 20px 0;
	border-top: 2px dotted #ccc;
	border-top: 1px dotted #ccc;
	list-style: none;
}
.helpers li {
	margin: 5px 0;
}
input[type=number] {
	width: 40px;
}
/*.output { position: relative; }*/
.output label {
	display: block;
	padding: 5px;
}
/*.clear-button {
	position: absolute;
	right: 5px;
	top: 20px;
}*/
#addEmployee span {
	display: inline-block;
	width: 60px;
}
#addEmployee input[type=number],
#addEmployee input[type=text] {
	width: 100px;
}
input[type=submit] {
	background: linear-gradient(#fff, #eee);
	cursor: pointer;
	width: 190px;
}
#addEmployee,
#load,
#clearButton {
	margin: 10px 40px;
}
#load,
#clearButton {
	display: block;
	width: 190px;
}
[contenteditable=true] {
	box-shadow: 0 0 3px 1px #8bd inset;
	border-radius: 3px;
}
#employeesTable {
	display: none;
	width: 100%;
	text-align: center;
}
#employeesTable td {
	width: 100px;
}
#employeesTable button {
	width: 80px;
}
.not-saved {
	background: linear-gradient(#fff, #adf)
}